# 
# Some of these values pulled from https://gist.github.com/sethvargo/6b2f7b592853381690bfe3bd00947e8f
#

[include]
  path = ~/.gitconfig-local

[core]
  editor = $EDITOR
  excludesfile = /Users/tcook/dotfiles/.gitignore_global

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

[color]
  ui = true
  diff = true
  status = true
  branch = true
  interactive = true

[format]
  pretty = %C(bold yellow)%h%Creset %s %C(bold blue)[%an]%Creset %Cblue{%G?}%Creset %Cgreen(%cr)%Creset

[submodule]
  fetchJobs = "7"

[push]
  default = simple

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
